.logo{
    height: 85px;
   
    }
   
   body{
       background-color: rgb(57, 85, 66);
   
   }
   
    iframe{
      padding-left: 25%

     }

     .footer-nav-column{
        display: inline-block;
        margin: 10px;
        color: black;
       float: left;
       font-family:Arial, Helvetica, sans-serif;

     }
     
    a{
        display: inline-block;
        margin: 10px;
        color: black;
       float: right;
       font-family: Arial, Helvetica, sans-serif;
    
    }
   
    a:hover {
       color: rgb(12, 201, 91);
       text-decoration: underline;
     }
   
    header{
       height: 70px;
       background-color: rgb(171, 238, 201);
       text-align: center;
       margin-top: 5%;
   
   }
   
   aside{
       height: 350px;
       width: 35%;
       float: right;
       margin-right: 1%;
       
   }
   
   
   section{
       height: 100px;
       width: 50%;
       background-color: rgb(131, 182, 154);
       margin: 1%;
   }
   article{
       height: 210px;
       width: 50%;
       background-color: rgb(91, 141, 113);
       margin: 1%;
       background-image: url(./try\ out.png);
   
   }
   footer{
       height: 100px;
       background-color: rgb(27, 37, 32);
       color: rgb(255, 255, 255);
       margin-top: 10%;
   
   }

   b{ 
    padding: 14%


   }
 
   
   c{
       color: rgb(132, 241, 174);

   }
