.logo{
    height: 85px;
   
    }
   
   body{
       background-color: rgb(57, 85, 66);
   
   }
   
    a{
        display: inline-block;
        margin: 10px;
        color: black;
       float: right;
       font-family: Arial, Helvetica, sans-serif;
     
    }
   
    .mascot{
       height: 400px;
       margin:-10%;
       margin-top: 5%;
    }
       
   .footer-nav-column{
    display: inline-block;
    margin: 10px;
    color: black;
   float: left;
   font-family:Arial, Helvetica, sans-serif;

   }

    section{
        height: 10px

    }   


    a:hover {
       color: rgb(12, 201, 91);
       text-decoration: underline;
     }
   
    header{
       height: 100px;
       background-color: rgb(171, 238, 201);
       text-align: center;
       margin-top: 2%;
   
   }
   
   article{
       height: 250px;
       background-color: rgb(91, 141, 113);
       margin: 1%;
       padding: 3%;
   }
   footer{
       height: 100px;
       background-color: rgb(27, 37, 32);
       color: rgb(255, 255, 255);
       margin-top: 10%;
   
   }
   
   b{
       display: inline-block;
       margin: 10px;
       color: rgb(69, 161, 100);
    
   }
   
   c{
       color: rgb(132, 241, 174);
   }